html, body, .capa {
	height: 100%;
	overflow: auto;

}

body{

	background: url('imagens/capa.png'),
				url('imagens/ruido.png'),
				linear-gradient(50deg,#32caaa,#85aeee);
	background-attachment: fixed;
	overflow-x: hidden;
	font-family: Helvetica,Arial,sans-serif;

}


.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg');
	background-size: contain;
	background-repeat: no-repeat;
	color: transparent;
}

.navbar-transparente{
	background-color: rgba(0,0,0,0.6);
	padding: 15px 0px;
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;
}

.capa{
	width: 100%;
	display: table;
	
}

.texto-capa{
	display: table-cell;
	text-align: center;
	color: white;
	vertical-align: middle;
}

.btn-custom{
	
	border-radius: 500px;		
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-o-border-radius: 500px;

	color: white;
	padding: 10px 35px;
	text-transform: uppercase;
	margin: 10px 30px;

	transition: background 0.4s, color 0.4s;
	-webkit-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	-o-transition: background 0.4s, color 0.4s;
}

.btn-branco{
	border: 2px solid white;
}
.btn-branco:hover{
	background: #fff;
}

.btn-azul{
	background: #6A5ACD;
}

.btn-azul:hover{
	background: #483D8B;
	color:#fff;
}


/*secao servico*/


#servicos{
	background: white;
	padding: 20px 0; 
}

.albuns{
	padding: 10px;
}

/* Recursos*/

#recursos{
	padding: 20px 0; 
	color: white;
}

.bd{
	border: 1px solid green
}



.rotacionar{
	transform: rotate(30deg);

	margin-left: 80px;
}

/*Rodapé*/

footer{
	position: relative;
	background-color: #000;
	padding: 50px 0 20px 0
}

.items-links{
	float: right;
}

/*==========================Tipografia==========================*/


h1{
	font-size:  100px;
	font-weight: 900;
	letter-spacing: -0.05em;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#servicos h2, #servicos h3{
	color:#7c25f8;
}

#recursos h3{
	color:#9bf0e1;
}

#rodape h4{
	color:  #919496
	font-size 12px;
	text-transform: uppercase;
}

/************ Media queries *******************/


/* Tamanmho até 767px  -XS-  */
@media screen and (max-width: 767px){
	h1{
		font-size: 50px;
	}
	.btn-custom{
		margin: 5px 0px;
	}
}

/* Tamanmho até 768px  -SM-  */
@media screen and (min-width: 768px){
	h1{
		font-size: 70px;
	}



}

/* Tamanmho até 992px  -MD-  */
@media screen and (min-width: 992px){
	h1{
		font-size: 80px;
	}
}	

/* Tamanmho até 1200px  -LG-  */
@media screen and (min-width: 1200px){
	h1{
		font-size: 100px;
	}
}	